<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
  <title>Shopping Mania</title>
</head>

<body>
 

  <!-- ******************navbar********************** -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
    <div class="container-fluid">
      <li class="navbar-brand brands" style="list-style: none;"><strong>ShoppingMania</strong></li>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="offers.html">Top Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="contact.html">Contact</a>
          </li>


        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- *******************************carousel*************************** -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/imgG/a.jfif" class="d-block w-100" style="height: 35vw;" alt="images">

      </div>
      <div class="carousel-item">
        <img src="../static/imgG/b.jfif" class="d-block w-100" style="height: 35vw;" alt="images">

      </div>
      <div class="carousel-item">
        <img src="../static/imgG/c.jfif" class="d-block w-100" style="height: 35vw;" alt="images">

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- *****************************cards*************************** -->
  <div class="row mb-2 " style="margin: 4vw;">
    <div class="col-md-6 my-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Fashion</strong>
          <h3 class="mb-0">Launching Spring Summer Offer 2021</h3>
          <div class="mb-1 text-muted">2021</div>
          <p class="card-text mb-auto">Combine the best deals with the trendiest designs from our store at super affordable prices and look like the royalty that you are at heart.With our gorgeous designs, you can show off your elegance. </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../static/imgG/car1.jpg" class="bd-placeholder-img" width="200" height="250" alt="image">


        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Formal</strong>
          <h3 class="mb-0">Women's ethnic wear | Up to 70% off</h3>
          <div class="mb-1 text-muted">2021</div>
          <p class="mb-auto"> You are a dress lover; then we have dresses for you to adore. If you love pants and trousers, then why not explore them here. What's exciting? We have perfect combinations that match your shopping tastes.
          </p>
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../static/imgG/car2.jpg" class="bd-placeholder-img" width="200" height="250" alt="image">

        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row mb-2" style="margin: 4vw;">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Casual</strong>
          <h3 class="mb-0">Popular categories in fashion</h3>
          <div class="mb-1 text-muted">2021</div>
          <p class="card-text mb-auto"> We assure that every product delivers in terms of quality since your satisfaction is of utmost importance to us. So, go ahead and look like the beautiful princess that you are, while we take care of the rest!</p>
        
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../static/imgG/car3.jpg" class="bd-placeholder-img" width="200" height="250" alt="image">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Kids Wear</strong>
          <h3 class="mb-0">Pocket Friendly | Up to 80% off</h3>
          <div class="mb-1 text-muted">2021</div>
          <p class="mb-auto">Your kids deserve only the best. From bodysuits, booties, diapers to strollers, if you're an expecting mother or a new mother, you will find everything you need to set sail on a smooth parenting journey with the help of our baby care collection.
          </p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="../static/imgG/car4.jpg" class="bd-placeholder-img" width="200" height="250" alt="image">

        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- **********************footer****************************************** --> 
  <hr>
  <footer class="container py-5" style="background-color: rgb(255, 255, 255);width: 100vw;margin-left: 2rem;margin-right: -9rem;">
    <div class="row">
      
      <div class="col-6 col-md">
        <h5>Shop From Home</h5>
        <ul class="list-unstyled text-small" >
          <li><a class="link-secondary" style="text-decoration: none;" href="offers.html">Men</a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="offers.html">women</a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="offers.html">Kids</a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="offers.html">Top Offers</a><span class="badge rounded-pill bg-danger">NEW</span></li>
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Connect Through </h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" style="text-decoration: none;"  href="#">Facebook </a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="#">Instagram</a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="#">Twitter</a></li>
          <li><a class="link-secondary" style="text-decoration: none;" href="#">Linkdin</a></li>
        </ul>
      </div>
      
      
    </div>
  </footer>
  <!-- Copyright -->
<div class="footer-copyright text-center py-3" style="background-color: black;color: rgb(251, 252, 253);width: 100vw;   
" >copyright © 2021 ShoppingMania.com 
  <p>All rights reserved</p>
  
</div>
<!-- Copyright -->


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>


</body>

</html>